.note-heading {
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 0.25rem 0.5rem;
}
.note-body {
    outline: none;
    border: none;
    height: 65px;
    border-radius: 10px;
    font-size: 16px;
    padding: 0.5rem 0.5rem;
}
.notes-item {
    border: none;
    border-radius: 5px;
}
.final-heading{
    border: none;
    border-radius: 5px;
}
.final-note{
    border-radius: 5px;
    word-break: break-all
}
