<!DOCTYPE html>
<html lang="en" class="light">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/main.css">
</head>
<body class="bg-thirdColor dark:bg-secondDarkColor">
<div id="app">
    <header class="w-screen xl:max-w-7xl xl:mx-auto bg-firstColor">
        <div class="flex justify-between">
            <h1 class="text-3xl text-textColor font-bold py-2 px-5 dark:text-firstDarkColor">Notes
                <i class="uil uil-clipboard-alt text-textColor text-3xl dark:text-firstDarkColor"></i>
            </h1>
            <i :class="isDarked === false ? 'uil uil-moon text-textColor text-3xl py-2 px-5 cursor-pointer'
            : 'uil uil-sun text-firstDarkColor text-3xl py-2 px-5 cursor-pointer'" @click="changeTheme"></i>
        </div>
    </header>
    <main class="lg:max-w-3xl lg:mx-auto xl:max-w-5xl xl:mx-auto pt-5">
        <div class="container grid grid-cols-1 mx-auto">
            <label for="heading" class="text-xl font-bold dark:text-textColor">Your Heading</label>
            <input id="heading" type="text" maxlength="15"
                   class="note-heading bg-secondColor dark:bg-thirdDarkColor dark:text-textColor hover:bg-firstColor dark:hover:bg-firstDarkColor"
                   :value="headingValue" v-on:input="headingChangeHandler">
            <label for="note" class="text-xl font-bold dark:text-textColor">Your note</label>
            <textarea id="note"
                      class="note-body bg-secondColor dark:bg-thirdDarkColor dark:text-textColor hover:bg-firstColor dark:hover:bg-firstDarkColor"
                      maxlength="150" :value="noteValue" v-on:input="noteChangeHandler"></textarea>
            <span class="bg-secondColor py-2 px-4 rounded-full hover:bg-firstColor w-max mt-5 cursor-pointer font-bold dark:bg-thirdDarkColor dark:hover:bg-firstDarkColor dark:text-textColor"
                  @click="addNote">Add Note</span>
            <h3 v-show="isFilled" class="font-bold text-center text-sm pt-2 text-pink-600 dark:text-pink-400">Your can't
                add an empty note, please write your heading and note first!</h3>
            <h2 v-show="notes.length !== 0" class="italic text-center text-sm pt-2 dark:text-textColor">Press on heading
                to show the delete button</h2>
            <ul class="note grid grid-cols-3 container">
                <li v-if="notes.length !== 0" class="notes-item text-center mt-5 mx-2" v-for="(note, index) in notes"
                    @click="showDeleteBtn(index)">
                    <h3 class="final-heading font-bold text-xl bg-firstColor dark:bg-firstDarkColor dark:text-textColor px-2">
                        {{note[0]}} <i class="uil uil-trash-alt cursor-pointer pl-2 hidden dark:text-textColor"
                                       :id="index" @click="deleteNote(index)"></i>
                    </h3>
                    <p class="final-note text-xl bg-secondColor dark:bg-thirdDarkColor dark:text-textColor h-max px-2">
                        {{note[1]}}
                    </p>
                </li>
            </ul>
            <h2 v-show="notes.length === 0" class="font-bold text-2xl pt-2 dark:text-textColor">No current notes
                yet</h2>
        </div>
    </main>
</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="./src/main.js"></script>
</body>
</html>